.container__small-card{
  width: 670px;
  margin-bottom: 15px;
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img{
 width: 100px;
 min-width: 100px;
 margin-right: 20px;
padding-top: 30px;
 max-width: 120px;
 max-height: 120px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card-separator{
  margin-top: 10px;
}


